<a href="https://colab.research.google.com/github/Sophieeeeeeee/lab1/blob/master/Final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
from sklearn.preprocessing import OneHotEncoder
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

### read data

In [6]:
from google.colab import files

uploaded = files.upload()

Saving covtype.data to covtype (1).data

In [7]:
# read covtype 记得改这里！！
cov_names = ['Elevation','Aspect','Slope','Horizontal_Distance_To_Hydrology'
             ,'Vertical_Distance_To_Hydrology','Horizontal_Distance_To_Roadways'
             ,'Hillshade_9am','Hillshade_Noon','Hillshade_3pm'
             ,'Horizontal_Distance_To_Fire_Points']
for i in range(4):
    cov_names += ['Wilderness_Area_'+str(i)]

for i in range(40):
    cov_names += ['Soil_Type_'+str(i)]
    
cov_names+= ['Cover_Type']

covtype = pd.read_csv("covtype.data",names = cov_names)

In [8]:
# read letter
letter_names = ['lettr','x-box','y-box','width','high','onpix','x-bar'
                 ,'y-bar','x2bar','y2bar','xybar','x2ybr','xy2br'
                 ,'x-ege','xegvy','y-ege','yegvx']
letter = pd.read_csv("letter-recognition.data",names = letter_names)

In [9]:
# read adult
adult_names = ['age','workclass','fnlwgt','education','education-num'
                ,'marital-status','occupation','relationship','race','sex','capital-gain'
                ,'capital-loss','hours-per-week','native-country','y']
adult = pd.read_csv("adult.data",names=adult_names)

### preprocessing

In [10]:
# covtype, treating the largest class as the positive and the rest as negative
largest = covtype.Cover_Type.value_counts().idxmax() 
new_type = (covtype.Cover_Type == largest)
covtype.drop('Cover_Type',axis = 1, inplace = True) 
covtype['new_type'] = new_type
covtype.head()

   Elevation  Aspect  Slope  ...  Soil_Type_38  Soil_Type_39  new_type
0       2596      51      3  ...           0.0           0.0     False
1       2590      56      2  ...           0.0           0.0     False
2       2804     139      9  ...           0.0           0.0      True
3       2785     155     18  ...           0.0           0.0      True
4       2595      45      2  ...           0.0           0.0     False

[5 rows x 55 columns]

In [11]:
# letter, uses letters A-M as positives and the rest as negatives
new_lettr = (letter.lettr <= 'M')
letter.drop('lettr',axis = 1, inplace = True) 
letter['new_lettr'] = new_lettr
letter.head()

   x-box  y-box  width  high  onpix  ...  x-ege  xegvy  y-ege  yegvx  new_lettr
0      2      8      3     5      1  ...      0      8      0      8      False
1      5     12      3     7      2  ...      2      8      4     10       True
2      4     11      6     8      6  ...      3      7      3      9       True
3      7     11      6     6      3  ...      6     10      2      8      False
4      2      1      3     1      1  ...      1      7      5     10       True

[5 rows x 17 columns]

In [12]:
# adult, change y
new_y = (adult.y == ' >50K')
adult.drop('y',axis = 1, inplace = True) 
adult['new_y'] = new_y

In [13]:
# perform one hot encoding on adult
adult_nint = adult.select_dtypes(exclude=['int64','bool']).columns
adult = pd.get_dummies(adult, columns=adult_nint)

In [14]:
adult.head()

   age  fnlwgt  ...  native-country_ Vietnam  native-country_ Yugoslavia
0   39   77516  ...                        0                           0
1   50   83311  ...                        0                           0
2   38  215646  ...                        0                           0
3   53  234721  ...                        0                           0
4   28  338409  ...                        0                           0

[5 rows x 109 columns]

### set x and y

In [15]:
adult_x = adult.drop(columns = ['new_y']).to_numpy()
adult_y = adult[['new_y']].to_numpy()

In [16]:
covtype_x = covtype.drop(columns = ['new_type']).to_numpy()
covtype_y = covtype[['new_type']].to_numpy()

In [18]:
letter_x = letter.drop(columns = ['new_lettr']).to_numpy()
letter_y = letter[['new_lettr']].to_numpy()

### preparation for cross validation

In [19]:
x_train = np.empty((0,10))

In [20]:
adult_y.shape[1]

1

In [21]:
# set up values
n_folds = 5
n_per_fold = int(5000/n_folds)
fold_index = list(np.arange(5))

# function to get sample and fold
def sample_and_fold(x,y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=5000)
    x_fold = []
    y_fold = []

    for i in fold_index:
        x_fold.append(x_train[i*n_per_fold:(i*n_per_fold)+n_per_fold])
        y_fold.append(y_train[i*n_per_fold:(i*n_per_fold)+n_per_fold])

    return x_train, x_test, y_train, y_test, x_fold, y_fold

In [25]:
x_val = normalize(lx_fold[1],axis = 0)
lx_train2 = np.empty((0, 16))

ind = list(np.arange(0,5))
ind.remove(1)

for n in ind:

    lx_train2 = np.append(x_train2, lx_fold[n],0)


lx_train2 = normalize(lx_train2, axis = 0)

NameError: ignored

In [23]:
def train_and_validate(m, x_fold, y_fold, x_length):
    
    x_val = normalize(x_fold[m],axis = 0)
    y_val = y_fold[m]
    
    ind = list(np.arange(0,5))
    ind.remove(m)
    
    for n in ind:
        x_train2 = x_fold[n]
        y_train2 = y_fold[n]
        
    x_train2 = normalize(x_train2, axis = 0)
    
    return (x_train2, y_train2, x_val, y_val)

In [ ]:
SVM_params = [pow(10,i) for i in range(-7,4)]

In [24]:
ax_train, ax_test, ay_train, ay_test, ax_fold, ay_fold = sample_and_fold(adult_x, adult_y)
cx_train, cx_test, cy_train, cy_test, cx_fold, cy_fold = sample_and_fold(covtype_x, covtype_y)
lx_train, lx_test, ly_train, ly_test, lx_fold, ly_fold = sample_and_fold(letter_x, letter_x)

In [ ]:
SVM_param_best = []
Knn_param_best = []

parameters = {'C': [pow(10,i) for i in range(-7,4)], 
              'gamma': [0.001,0.005,0.01,0.05,0.1,0.5,1,2], 
              'kernel': ['linear','poly','rbf'],
              'degree':[2,3]}
                        
clf1 = GridSearchCV(SVC(),parameters,cv = 5, n_jobs = -1)
clf1.fit(ax_train,ay_train)
SVM_param_best.append(clf1.best_params_)


parameters2 = {'weights': ['distance', 'uniform'], 
              'n_neighbors': [1,400]}

clf2 = GridSearchCV(KNeighborsClassifier(),parameters2,cv = 5, n_jobs = -1)
clf1.fit(ax_train,ay_train)
Knn_param_best.append(clf.best_params_)